.contact_container {
  position:relative;
  width: 100%;
  height: 100%;
}

.contact_name {
  text-align: left;
  padding-left: 1em;
  text-transform: uppercase;
  color: white;
  background-image: linear-gradient(to top right, #004c91, #007DB8);
  height: 20%;
  position: relative;
  padding-top: 0.5em;
  font-size: 5em;
  font-family: "Verdana", "sans-serif";
}

.contact {
  top: -10px;
  padding-left: 5em;
  padding-top: 5em;
  height: 80%;
  background-color: #D3D3D3;
}

.contact p {
  font-size: 20px;
}
