.flex_container {
  display: flex;
  flex-direction: column;
}

.education_container {
  position:relative;
  width: 100%;
  min-height: 50em;
  margin-bottom: 2em;
  flex: 1;
}

.education_container h1{
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-image: linear-gradient(to top right, #004c91, #007DB8);
  height: 5vh;
  position: relative;
  top: -2.6vh;
  padding-top: 0.2vh;
  font-size: 4vh;
}

.blue {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 25em;
  top: 1em;
  width: 80%;
  margin-top: 2em;
}

.blue p {
  color: white;
  line-height: normal;
  font-size: 5vh;
  position: absolute;
  font-family: "Verdana", "sans-serif";
  top: 40%;
  display: block;
  margin-top: -5vh;
  margin-left: 5%;
  margin-right: 5%;
  bottom: 2em;
}

.blue:hover p {
  display: none;
}

.blue::before{
  content: '';
  position: absolute;
  background: rgba(0, 76, 145, 0.4);
  border-radius: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.blue:hover:before{
  background: rgba(0, 0, 0, 0);
}

.dropbtn {
  position: absolute;
  top: 0em;
  border: none;
  height: 100%;
  width: 100%;
  padding: 0;
  background-color: transparent;
}

.drop-down-img {
  width: 100%;
  height: 100%;
  display: block;
  outline: solid 1vh #333;
}

.drop-info {
  top: 1vh;
  min-height: 20em;
  flex-direction: column;
  width: 78%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #333;
  color: white;
  display: none;
  padding: 2em;
}

.drop-left {
  float: left;
  background-image: linear-gradient(to top right, #004c91, #007DB8);
  height: 100%;
  width: 33%;
  padding: 0.5em;
  flex: 1;
}

.drop-left p {
  font-family: "Verdana", "sans-serif";
}

.drop-right {
  background-color: #D3D3D3;
  height: 100%;
  width: 61%;
  float: right;
  padding: 0.5em;
  flex: 1;
}

.classes {
  -webkit-columns: 100px 3; /* Chrome, Safari, Opera */
  -moz-columns: 100px 3; /* Firefox */
  columns: 100px 3;
}


.drop-right p, li{
  color: black;
  font-family: "Verdana", "sans-serif";
}

.drop-right h2 {
  color: black;
  font-family: "Verdana", "sans-serif";
  text-align: center;
  font-size: 4vh;
}

.clear {
  background: rgba(0, 0, 0, 0);
}

.clear::before {
  content: '';
  background: rgba(0, 0, 0, 0);
}

.show {
  display: block;
}

.hide {
  display: none;
}





/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .education_container h1{
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-image: linear-gradient(to top right, #004c91, #007DB8);
    height: 5vh;
    position: relative;
    top: -2.65vh;
    padding-top: 0.2vh;
    font-size: 3.5vh;
  }

  .blue p {
    color: white;
    line-height: normal;
    font-size: 4vh;
    position: absolute;
    font-family: "Verdana", "sans-serif";
    top: 40%;
    display: block;
    margin-top: -5vh;
    margin-left: 5%;
    margin-right: 5%;
    bottom: 2em;
  }

  .drop-down-img {
    width: 100%;
    height: 100%;
    display: block;
    outline: solid 2vh #333;
  }

  .drop-info {
    top: 0;
    min-height: 20em;
    flex-direction: column;
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #333;
    color: white;
    display: none;
    padding: 2vh;
  }

  .drop-left {
    float: left;
    background-image: linear-gradient(to top right, #004c91, #007DB8);
    height: 100%;
    width: 35%;
    padding: 0.5em;
    flex: 1;
  }

  .drop-left p {
    font-size: 1.2vh;
    font-family: "Verdana", "sans-serif";
  }

  .drop-right {
    background-color: #D3D3D3;
    height: 100%;
    width: 55%;
    float: right;
    padding: 0.5em;
    flex: 1;
  }

  .classes {
    -webkit-columns: 100px 3; /* Chrome, Safari, Opera */
    -moz-columns: 100px 3; /* Firefox */
    columns: 100px 3;
  }


  .drop-right p, li{
    color: black;
    font-family: "Verdana", "sans-serif";
  }

  .drop-right h2 {
    color: black;
    font-family: "Verdana", "sans-serif";
    text-align: center;
    font-size: 2vh;
  }

  .clear {
    background: rgba(0, 0, 0, 0);
  }

  .clear::before {
    content: '';
    background: rgba(0, 0, 0, 0);
  }

  .show {
    display: block;
  }

  .hide {
    display: none;
  }

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {


  .education_container h1{
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-image: linear-gradient(to top right, #004c91, #007DB8);
    height: 5vh;
    position: relative;
    top: -2.65vh;
    padding-top: 0.2vh;
    font-size: 4vh;
  }

  .drop-down-img {
    width: 100%;
    height: 100%;
    display: block;
    outline: solid 2vh #333;
  }

  .drop-info {
    top: 0;
    min-height: 20em;
    flex-direction: column;
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #333;
    color: white;
    display: none;
    padding: 2vh;
  }

  .drop-left {
    float: left;
    background-image: linear-gradient(to top right, #004c91, #007DB8);
    height: 100%;
    width: 35%;
    padding: 0.5em;
    flex: 1;
  }

  .drop-left p {
    font-family: "Verdana", "sans-serif";
  }

  .drop-right {
    background-color: #D3D3D3;
    height: 100%;
    width: 60%;
    float: right;
    padding: 0.5em;
    flex: 1;
  }

  .classes {
    -webkit-columns: 100px 3; /* Chrome, Safari, Opera */
    -moz-columns: 100px 3; /* Firefox */
    columns: 100px 3;
  }


  .drop-right p, li{
    color: black;
    font-family: "Verdana", "sans-serif";
  }

  .drop-right h2 {
    color: black;
    font-family: "Verdana", "sans-serif";
    text-align: center;
    font-size: 4vh;
  }

  .clear {
    background: rgba(0, 0, 0, 0);
  }

  .clear::before {
    content: '';
    background: rgba(0, 0, 0, 0);
  }

  .show {
    display: block;
  }

  .hide {
    display: none;
  }

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  //CSS

}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media only screen and (min-width: 1281px) {


}
