/* @copyright 2018 Anthony Chen, All rights reserved. */
html {
  height: 100%;
}

body {
  background-color: #f2f2f2;
  font-family: "Lato";
  font-weight: 300;
  font-size: 1.33vh;
  color: #555;
  height: 100%;
  margin: 0vh;
  padding: 0vh;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}


/* Titles */
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
  text-align: left;
  font-weight: 300;
  color: #333;
}

p {
  line-height: 2.33vh;
  margin-bottom: 2.0833vh;
}


/* Links */
a {
  color: #1CBCAD;
  word-wrap: break-word;

  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}

a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*---------------------------------------------------
  SECTION WRAPS
---------------------------------------------------*/

/* Header Wrap */
.header {
  background-image: linear-gradient(to top right, #004c91, #007DB8);
  /*background-color: #004c91; */
  padding-top:0.833vh;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 8.33vh;
  width: 100%;
}

.header h1 {
  font-size: 7vh;
  text-align: center;
  color: white;
}

.header img {
  width: 3.33vh;
  height: 3.33vh;
}

.head_container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.head_container:before,
.head_container:after {
  display: table;
  content: " ";
}

.head_container:after {
  clear: both;
}

.head_container:before,
.head_container:after {
  display: table;
  content: " ";
}

.head_container:after {
  clear: both;
}


/*---------------------Navigation Bar Wrap-------------------------*/
.topnav {
    background-image: linear-gradient(to top right, #333,#3d3d3d);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 1.5vh 1.8vh;
    text-decoration: none;
    font-size: 2vh;
}

/* Change the color of links on hover */
.topnav a:hover, .experience:hover .expbtn, .res-proj:hover .resprojbtn {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.experience, .res-proj {
  float: left;
  overflow: hidden;
}

.experience .expbtn, .res-proj .resprojbtn {
  background-color: inherit;
  color: #f2f2f2;
  border: none;
  outline: none;
  font-size: 2vh;
  padding: 1.5vh 1.8vh;
  font-family: inherit;
  margin: 0;
}

.exp-content, .resproj-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 19.5vh;
  box-shadow: 0em 1em 1em 0em rgba(0,0,0,0.2);
  z-index: 1;
}

.exp-content a, .resproj-content a {
  float: none;
  color: black;
  padding: 1.5vh 1vh;
  text-decoration: none;
  display: block;
  text-align: left;
}

.exp-content a:hover, .resproj-content a:hover {
  background-color: #ddd;
}

.experience:hover .exp-content, .res-proj:hover .resproj-content {
  display:block;
}

/*-------------------------------Mission and Update----------------------------*/




/*------------------------------- Slideshow Wrap -------------------------------*/

.background-tint {
  position: relative;
  margin: 0 auto;
}

.background-tint video {
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  display: block;
}

.background-tint:before{
  content: '';
  position: absolute;
  background: rgba(0, 76, 145, 0.4);
  border-radius: 1vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


/*------------------------------ Footer--------------------------------------*/


/* Global Values */

.desc {
  padding-top: 5vh;
}

.desc p {
  color: #2f2f2f;
}

.desc t {
  color: #34495e;
  font-weight: 700;
}

.desc imp {
  padding: 0.5vh;
  color: white;
  background: #34495e;
}

.desc more {
  color: #616669;
}


sm {
  font-size: 1.2vh;
}

.desc .col-lg-3 {
  text-transform: uppercase;
}

.head_container .head p.tight {
  margin-bottom: 0.5vh;
}

/* define some CSS3 animations: */
body {
  /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
  -webkit-backface-visibility: hidden;
}

.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* 1 */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
  }

.whitespace {
  height: 5vh;
  width: 100%;
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  //CSS

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  .head {
    width: 100%;
    height: 15vh;
  }

  .head h1{
    text-align: center;
  }

  .head:before,
  .head:after {
    display: table;
    content: " ";
  }

  .head:after {
    clear: both;
  }

  .head:before,
  .head:after {
    display: table;
    content: " ";
  }

  .head:after {
    clear: both;
  }

  .links_container {
    width: 100%;
    margin-bottom: 1vh;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  #linkedin {
    top: 0.5vh;
    position: relative;
  }

  #resume:link, #resume:visited {
    position: relative;
    text-decoration: none;
    font-size: 2.65vh;
    font-family: "Verdana", "sans-serif";
    color: white;
  }

  #resume:hover {
    color: #87CEFA;
  }

  .mission {
    width: 75vh;
    height: 10vh;
    position: absolute;
    top: 33vh;
    left: 0%;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 3vh;
  }

  .update-title {
    background: #333;
    width: 50%;
    min-height: 5vh;
    top: 43vh;
    left: 25%;
    position: absolute;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 2vh;
  }

  .slide {
    position: absolute;
    top: 45vh;
    left: 1%;
    background: #333;
    margin: auto;
    padding: 2.5vh;
    width: 90%;
    height: 22vh;
  }

  .slide-show-img {
    float: left;
    margin-right: 1vh;
    width: 45%;
  }

  .RecentEvent {
    height:17.5vh;
    width:28.5vh;
  }

  .slide-show-indic {
    color:#fff;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 0vh;
    position:relative;
    left:50%;
    bottom:0;
    transform:translate(-50%,0%);
    -ms-transform:translate(-50%,0%);
    -webkit-transform:translate(-50%,0%);
  }

  .slide-left{
    float: left;
    font-size: 2vh;
    width: 5%;
    cursor: pointer;
  }

  .slide-right{
    float: right;
    font-size: 2vh;
    width: 5%;
    cursor: pointer;
  }

  .slide-left:hover{
    color:#A9A9A9;
  }

  .slide-right:hover{
    color:#A9A9A9;
  }

  .slide-dot{
    text-align: center;
    height: 1vh;
    width: 1vh;
    border-style: solid;
    border-color: white;
    display:inline-block;
    border-radius:50%;
    cursor: pointer;
  }

  .slide-dot:hover{
    background-color: #cccccc;
  }

  .activated{
    background-color: white;
  }

  .slide-descs {
    float: left;
    color:#fff;
    margin-top: -2vh;
    text-align: left;
    width: 50%;
    font-size: 1vh;
    position: relative;
  }

  .slide-desc {
    position: absolute;
  }

  .slide-desc h1{
    font-size: 3vh;
    color: white;
  }

  .slide-desc h3 {
    font-size: 1.25vh;
    color: white;
  }


  #readmore:link, #readmore:visited {
    background-color: #004c91;
    color: white;
    font-size: 2vh;
    padding: 1.4vh 2.5vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  #readmore:hover, #readmore:active {
    background-color: #007DB8;
  }

  .footer {
    background: #2f2f2f;
    position: relative;
    top: -0.1vh;
    height: 17vh;
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .footer p {
    color: white;
    top:8vh;
  }

  .footer h5 {
    color: white;
  }

  .footer t {
    font-weight: 700;
  }

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  //CSS

}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media only screen and (min-width: 1281px) {


}
